.root {
  position: relative;
  width: 399px;
  height: 838px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.rectangle23 {
  position: absolute;
  left: -8.3969%;
  right: -6.1069%;
  top: 0;
  bottom: 78.4038%;
  background-image:/* webpackIgnore: true */ url('assets/rectangle23.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.prepForInterview {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: Teko, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: underline;
  position: absolute;
  left: 15.2672%;
  right: 12.9771%;
  top: 21.5962%;
  bottom: 73.0047%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.useKeywordsAndPhrasesThatExpre {
  position: absolute;
  left: 0.2506%;
  right: -1.2531%;
  top: 42.7208%;
  bottom: 42.0048%;
  justify-content: center;
  flex-direction: column;
}
.list {
  font-size: 14px;
}
.list ::marker {
  color: #000;
  font-size: 14px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.textBlock {
  color: #000;
  font-size: 14px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 14px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.textBlock3 {
  margin-top: 0;
  color: #000;
  font-size: 14px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.workstyleAssessmentBeforeGoing {
  position: absolute;
  left: -2.5063%;
  right: 1.5038%;
  top: 56.6826%;
  bottom: 17.1838%;
  justify-content: center;
  flex-direction: column;
}
.textBlock4 {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.list2 {
  font-size: 14px;
}
.list2 ::marker {
  color: #000;
  font-size: 14px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.textBlock5 {
  margin-top: 0;
}
.labelWrapper {
  font-size: 14px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #000;
  font-size: 14px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.textBlock6 {
  margin-top: 0;
}
.labelWrapper2 {
  font-size: 14px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.textBlock7 {
  margin-top: 0;
}
.labelWrapper3 {
  font-size: 16px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label2 {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.list3 {
  font-size: 14px;
}
.list3 ::marker {
  color: #000;
  font-size: 14px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.textBlock8 {
  margin-top: 0;
}
.labelWrapper4 {
  font-size: 14px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label3 {
  color: #000;
  font-size: 14px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.textBlock9 {
  margin-top: 0;
  color: #000;
  font-size: 14px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.tabBar {
  position: absolute;
  left: 0;
  right: 2.5445%;
  top: 88.7828%;
  bottom: -0.0504%;
  align-items: flex-start;
}
.background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: flex-start;
}
.background2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0px -0.5px 0px 0px #0000004d;
  backdrop-filter: blur(13.591408729553223px);
}
.home {
  position: absolute;
  left: 2.9333%;
  right: 86.4%;
  top: 10.8434%;
  bottom: 40.9639%;
}
.icon {
  width: 100%;
  height: 100%;
}
.search {
  position: absolute;
  left: 21.8667%;
  right: 67.4667%;
  top: 10.8434%;
  bottom: 40.9639%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.upload {
  position: absolute;
  left: 40.8%;
  right: 40.5333%;
  top: 10.8434%;
  bottom: 40.9639%;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.chat {
  position: absolute;
  left: 67.7333%;
  right: 21.6%;
  top: 10.8434%;
  bottom: 40.9639%;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.profile {
  position: absolute;
  left: 86.4%;
  right: 2.9333%;
  top: 10.8434%;
  bottom: 40.9639%;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.upload2 {
  position: absolute;
  left: 40.3757%;
  right: 40.5189%;
  top: 16.9451%;
  bottom: 37.8742%;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.shape {
  position: absolute;
  left: 32%;
  right: 32%;
  top: 84.3373%;
  bottom: 9.6386%;
  border-radius: 10px;
  background-color: #000;
}
.whenGettingReadyToApplyForJobs {
  position: absolute;
  left: 20px;
  top: 231px;
  width: 364px;
  height: 127px;
  justify-content: center;
  flex-direction: column;
}
.textBlock10 {
  color: #000;
  font-size: 14px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.textBlock11 {
  margin-top: 0;
  color: #000;
  font-size: 14px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.textBlock12 {
  margin-top: 0;
  color: #000;
  font-size: 14px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
